<div class="jumbotron mt-4">
    <h1 class="display-4"> MONGODB - NODEJS - EXPRESS 📓 </h1>
    <p>TE PERMITE INTERARCTUAR CON LOS PRODUCTOS COMO REGISTRAR, ACTUALIZAR Y ELIMINAR!!.</p>
    <hr class="my-4">
    <p>MANEJANDO ESTA PRUEBA CON LOGIN, REGISTRO DE LOGIN Y SALIR!!.</p>   
</div>