<div class="jumbotron mt-4">
    <h1 class="display-5"> MONGODB - NODEJS - EXPRESS 📓</h1>
    <p class="my-4">TE PERMITE INTERARCTUAR CON LOS PRODUCTOS COMO REGISTRAR, ACTUALIZAR Y ELIMINAR.</p>
    <hr class="my-4">
    <p>ESTA PRUEBA SE MANEJA CON LOGIN, REGISTRO DE LOGIN Y SALIR. ADEMAS PARA PODER VER LOS PRODUCTOS Y LOS USUARIOS PRIMERO TENEMOS QUE ENTRAR A SESION( Login ) </p>   
</div>