<div class="jumbotron mt-4">
    <h1 class="display-5"> MONGODB - NODEJS - EXPRESS 📓</h1>
    <p class="my-4">TE PERMITE INTERARCTUAR CON LOS PRODUCTOS COMO REGISTRAR, ACTUALIZAR Y ELIMINAR!!.</p>
    <hr class="my-4">
    <p>MANEJANDO ESTA PRUEBA CON LOGIN, REGISTRO DE LOGIN Y SALIR!!.</p>   
</div>