<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" >APLICACION</a><!--inicio de la aplicacion-->
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {{#if users}}  <!-- AQUI si hay user lo muestra -->
                    
                    {{else}}<!--sino aparece esta ruta-->
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/">Pagina Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/about">Acerca</a>
                    </li>
                    {{/if}}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {{#if users}}<!--SI EL USUARIO SE ENCUENTRA REGISTRADO, QUE ME MUESTRE ESTAS RUTAS-->
                     <li class="nav-item">
                        <a href="/users/logout" class="nav-link">Salir</a>
                    </li>
                    {{else}}<!--SI NO SE ENCUENTRA LOGEADO, QUE ME APAREZCA ESTA RUTAS-->
                    <li class="nav-item">
                        <a href="/users/signin" class="nav-link">Login</a>
                    </li>
                    {{/if}}
                </ul>
                
            </div>
        </div>
    </div>
</nav>